@{
    ViewBag.Title = "About";
}

<h1>Что посмотреть</h1>
<p>Маленький, но очень насыщенный город на побережье Калифорнии всегда привлекал 
    туристов со всего земного шара. Когда вы там окажетесь, то будете удивлены
     бесчисленному множеству склонов, на которых и расположен Сан-Франциско.
     На одном из таких склонов расположилась самая красивая и необычная улица 
    в городе Lombard Street. На Русском Холме (Russian Hill) есть небольшой 
    участок, который идет спуском с запада на восток под уклоном в 27%. Но 
    не столько угол уклона привлекает туристов к этому участку, а то, что 
    дорога нереально кривая, на небольшом отрезке дороги в 400 метров содержится
     восемь крутых поворотов, по которым с небольшой скоростью продвигаются автомобили. 
    Да, именно продвигаются, так как быстро здесь никак не проехать, да и закон запрещает
     ездить быстрее 8 км/ч, так что очередь из автомобилей здесь не редкое явление.</p>
<ul class="thumbnails">
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="~/Content/img/img_1875.jpg" />
        </a>
    </li>
</ul>
<p>После восхождений и спусков по улице можно отдохнуть, посетив ещё одну достопримечательность
     Сан-Франциско – Cable Car, по-русски называемый Канатным трамваем. Канатный трамвай 
    представляет собой гибрид трамвая с фуникулёром и канатной дорогой, от которых взято 
    приведение вагона в движение механическим соединённым с ним металлическим тросом, 
    перемещаемым вдоль трассы за счет энергии двигателя, находящегося не в подвижном составе, 
    а на стационарной площадке в депо или на тяговой подстанции. Бесчисленное множество туристов
     даёт о себе знать и здесь. Ведь чтобы прокатиться на исторической достопримечательности, 
    необходимо простоять большую очередь! Однако трамваев ходит несколько, поэтому очередь движется 
    достаточно быстро. Преодолев туристический маршрут за 10 минут, вы прибудете на конечную 
    станцию Пирс 39.</p>
<ul class="thumbnails">
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="~/Content/img/img_1559.jpg" />
        </a>
    </li>
</ul>
<p>
    На мой взгляд, одно из самых привлекательных мест в городе. Беззаботно греясь на солнышке,
    иногда удивляя свои голосом, на пирсах лежат морские котики, вокруг летают чайки, то и дело
    пытаясь вырвать любое лакомство из ваших рук. Прогуливаясь по пирсу, можно приобрести подарки
    в сувенирных лавках, необычную выпечку в виде фигур различных животных, заглянуть в кафе
    с видом на залив и подкрепиться местными деликатесами.</p>
<ul class="thumbnails">
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="~/Content/img/img_0962.jpg" />
        </a>
    </li>
</ul>
<p>
    Довольным пешей прогулкой, просто необходимо отправиться в полуторачасовой круиз к самому
    известному в мире красному мосту – Golden Gate Bridge. Если вам повезет с погодой,
    а в Сан-Франциско – это настоящее везение, потому что сильный ветер является
    чуть ли не визитной карточкой города, то вы увидите мост целиком! А если нет…, то туман
    закроет вид на половину моста. Много разных мнений о величии этого моста, однако
    достопримечательность посетить стоит.</p>
<ul class="thumbnails">
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="~/Content/img/img_1368.jpg" />
        </a>
    </li>
</ul>
<p>
    Забронировав экскурсию за месяц, можно посетить известнейшую в мире своей жестокостью
    тюрьму Алькатрас, в который отбывал своё наказание американский гангстер Аль Капоне.
    Но даже проплывая вокруг этого острова, вы почувствуете, насколько тяжело там
    находиться преступникам, которые ежедневно видели красоту города как на ладони.</p>
<ul class="thumbnails">
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="~/Content/img/img_0945.jpg" />
        </a>
    </li>
</ul>
<p>
    В городе есть офис социальной сети Twitter, звуковой системы Dolby,
    музей азиатского искусства и много других интересных и красивых мест, которые
    можно увидеть своими глазами. Но и прогуливаясь по ночному городу,
    не забудьте заглянуть в Китайский район, окунуться в восточную атмосферу и приобрести
    сувениры подешевле.</p>
<ul class="thumbnails">
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="~/Content/img/img_2221.jpg" />
        </a>
    </li>
</ul>
