@{
    ViewBag.Title = "Contact";
}
<h1>Кафе города</h1>
<p>Уставший после осмотра достопримечательностей, любой турист не против вкусно покушать. 
    А еды в Сан-Франциско на любой вкус! Китайская лапша в China Town, всеразличные морепродукты
     в любом кафе Пирса 39 с видом на Голден Гейт и, конечно, нельзя не попробовать сырный 
    крем-суп с моллюсками, подаваемый в подогретой булочке.</p>


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>flipLightBox Multi Image Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        body {
            text-align: center;
        }

        img {
            margin: 1px;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1></h1>

    <a href="~/Content/img/img_0931.jpg" class="flipLightBox">
        <img src="~/Content/img/img_0931.jpg" width="225" height="225" alt="flipLightBox Image 1" />
        <span><b>LightBox</b> </span>
    </a>

    <a href="~/Content/img/img_1212.jpg" class="flipLightBox">
        <img src="~/Content/img/img_1212.jpg" width="225" height="225" alt="flipLightBox Image 2" />
        <span><b>LightBox Image 2</b><br /></span>
    </a>

    <a href="~/Content/img/img_1497.jpg" class="flipLightBox">
        <img src="~/Content/img/img_1497.jpg" width="225" height="225" alt="flipLightBox Image 3" />
        <span><b>LightBox Three</b></span>
    </a>

    <a href="~/Content/img/img_1764.jpg" class="flipLightBox">
        <img src="~/Content/img/img_1764.jpg" width="225" height="225" alt="flipLightBox Image 4" />
        <span><b>The Final LightBox</b> </span>
    </a>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/fliplightbox.min.js"></script>
    <script type="text/javascript">$('body').flipLightBox()</script>

</body>


   
    
