@{
    ViewBag.Title = "Home Page";
}


    <h1>If you are going to San-Francisco</h1>
<ul class="thumbnails">
    <li class="span4">
        <a href="#" class="thumbnail">
            <img src="~/Content/img/1.jpg" />
        </a>
    </li>
</ul>
 
    <div >
        <H3>
            <i><p>Сан-Франциско —</i> город и округ в штате Калифорния, 
            США,названный в честь католического святого (по-испански San) 
            Франциска Ассизского.Население в 2010 году составляло 815 358 человек, 
            это четвёртый по численности населения город Калифорнии и двенадцатый в США. 
            Площадь Сан-Франциско составляет 600,6 км<sup>2</sup>, из них суши — 121,4
             км<sup>2</sup>, воды — 479,2 км<sup>2</sup>.Сан-Франциско расположен на 
            северной оконечности полуострова Сан-Франциско.Большую часть своей истории 
            он являлся самым населённым и важным городом области залива Сан-Франциско.</p>
            <p>В 1776 году испанцы обосновались на побережье полуострова, построив форт у пролива 
            Золотые Ворота и основав миссию, названную в честь Святого Франциска. 
            Возникший рядом с ней небольшой городок назывался Йерба-Буэна. В 1848 году, 
            благодаря калифорнийской золотой лихорадке, город начал бурно расти. 
            В этом же году он был переименован в Сан-Франциско. После разрушительного 
            землетрясения и пожара в 1906 году город был быстро и практически полностью
             перестроен.</p>

            <p>Сан-Франциско является мировым туристическим центром, известный 
            своими летними холодными туманами, крутыми холмами и сочетанием 
            викторианской и современной архитектуры. <br>В число 
                достопримечательностей  города входят мост «Золотые Ворота», остров
             Алькатрас, система канатных трамваев и чайна-таун.</p>
        </H3>
    </div>
  

